{% extends 'blog/base.html' %}

{% block content %}
    <div class="card-header">
        <h3 class="card-title">Nuevo Post</h5>
    </div>
    <div class="card-body">
        <form method="POST" class="post-form">{% csrf_token %}
            <div class="form-group">
              {{ form.as_p }}
              <button type="submit" class="save btn btn-outline-success">Guardar</button>
              <a href="{% url 'post_list' %}" class="btn btn-outline-primary">Cancelar</a>
            </div>
            
        </form>
    </div>
{% endblock %}
