<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Blog</title>
    </head>
    <body>


        <div class="">
            <h1> <a href="/">Blog UNEMI</a> </h1>
        </div>
    {% for post in posts %}
        <div class="">
                <p>publicado: {{post.published_date}}</p>
                <h2> <a href="">{{post.title}}</a> </h2>
                <p>{{post.text|linebreaksbr}}</p>
        </div>
    {% endfor %}




        <a href="HTTP://www.unemi.edu.ec">UNEMI</a>
    </body>
</html>
